@import url("/fonts/stylesheet.css");
*,
*::before,
*::after,
*:focus {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1260px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 380px) {
  .container {
    padding: 0px 10px;
  }
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 {
  background: url(../img/section-1/bg.jpg) no-repeat center;
  background-size: cover;
  height: 666px;
  padding-top: 140px;
}

@media (max-width: 968px) {
  .section-1 {
    height: 466px;
    padding-top: 50px;
  }
}

@media (max-width: 668px) {
  .section-1 {
    background: url(../img/section-1/bg-mob.jpg) no-repeat center;
    background-size: cover;
    padding-top: 32px;
    min-height: 666px;
    height: auto;
    padding-bottom: 43px;
  }
}

.section-1 h1 {
  margin: 0px;
  text-align: center;
  color: #fff;
  font-size: 48px;
  line-height: 59px;
  margin: 0px;
}

@media (max-width: 968px) {
  .section-1 h1 {
    font-size: 34px;
    line-height: 39px;
  }
}

@media (max-width: 668px) {
  .section-1 h1 {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 360px) {
  .section-1 h1 br {
    display: none;
  }
}

header {
  height: 92px;
}

@media (max-width: 768px) {
  header {
    height: 68px;
  }
  header img {
    margin: 11px 0px;
    height: 44px;
  }
}

.header__toggler {
  height: 92px;
  width: 92px;
  background: #EAF9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  margin-right: 14px;
}

@media (max-width: 768px) {
  .header__toggler {
    right: -15px;
    margin-right: 0px;
    position: relative;
    height: 68px;
    width: 68px;
    top: -1px;
  }
}

.header__toggler.active {
  background: #14316B;
}

.header__toggler.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 2px;
}

.header__toggler.active span:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 2px;
}

.header__toggler.active span:before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  height: 2px;
}

.header__toggler span {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: #F75D25;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__toggler span::after, .header__toggler span::before {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #F75D25;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  border-radius: 10px;
}

.header__toggler span::before {
  content: '';
  top: -8px;
}

.header__toggler span::after {
  content: '';
  top: 8px;
}

.header__adress {
  border-left: 1px solid #F7F7F7;
  height: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #393C47;
  margin-left: 22px;
  padding-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__adress {
    display: none;
  }
}

.header__adress a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #57AEFF;
  border-bottom: 1px solid;
  display: table;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .header__contact {
    display: none;
  }
}

.header__contact a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #393C47;
}

.header__contact span {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #393C47;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .header__left {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: block;
  padding: 31px 0px;
}

nav ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #393C47;
}

nav ul li a.active, nav ul li a:hover {
  color: #F75D25;
}

.btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #F75D25;
  -webkit-box-shadow: 0px 25px 13px -16px rgba(247, 93, 37, 0.4);
          box-shadow: 0px 25px 13px -16px rgba(247, 93, 37, 0.4);
  border-radius: 50px;
  padding: 14px 45px;
  display: table;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  background: #d34816;
  -webkit-box-shadow: 0px 15px 13px -16px rgba(247, 93, 37, 0.4);
          box-shadow: 0px 15px 13px -16px rgba(247, 93, 37, 0.4);
}

.section-1__list-feature {
  margin-top: 70px;
}

@media (max-width: 668px) {
  .section-1__list-feature {
    display: block;
    margin-top: 28px;
  }
}

.section-1__list-feature__item {
  width: 30%;
  text-align: center;
  color: #fff;
}

@media (max-width: 668px) {
  .section-1__list-feature__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .section-1__list-feature__item:last-child {
    margin-bottom: 0px;
  }
}

.section-1__list-feature__item img {
  display: inline-block;
}

.section-1__list-feature__item p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  min-height: 66px;
}

@media (max-width: 768px) {
  .section-1__list-feature__item p {
    font-size: 14px;
    line-height: 17px;
    min-height: auto;
  }
}

.section-1__list-feature__item .btn {
  margin-top: 34px;
  margin: 0 auto;
}

.individual {
  background: #393C47;
  padding: 80px 0px;
}

@media (max-width: 760px) {
  .individual {
    padding: 30px 0px;
  }
}

.individual .section-2__list {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.individual .container {
  position: relative;
}

@media (min-width: 668px) {
  .individual .container:after {
    content: '';
    background: rgba(247, 93, 37, 0.5);
    -webkit-filter: blur(250px);
            filter: blur(250px);
    position: absolute;
    top: 92px;
    right: -50px;
    width: 279px;
    height: 279px;
    bottom: auto;
    display: block;
  }
  .individual .container:before {
    content: '';
    background: rgba(87, 174, 255, 0.4);
    -webkit-filter: blur(250px);
            filter: blur(250px);
    position: absolute;
    top: 450px;
    left: -50px;
    width: 279px;
    height: 279px;
    bottom: auto;
    display: block;
  }
}

.section-2 {
  background: url(/img/section-2/bg.png) no-repeat 100% 95px #393C47;
  padding-top: 80px;
  padding-bottom: 100px;
  color: #fff;
}

.section-2.individual {
  padding-bottom: 2px;
  background: url(/img/section-2/bg.png) no-repeat 120% 100% #393C47;
}

@media (max-width: 960px) {
  .section-2.individual {
    margin-top: -2px;
    padding-top: 50px;
  }
}

.section-2 .title {
  color: #fff;
}

@media (max-width: 668px) {
  .section-2 {
    background: url(/img/section-2/bg.png) no-repeat center 40% #393C47;
    background-size: 130%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-2 .container {
  position: relative;
}

@media (min-width: 668px) {
  .section-2 .container:after {
    content: '';
    background: rgba(247, 93, 37, 0.5);
    -webkit-filter: blur(250px);
            filter: blur(250px);
    filter: blur(250px);
    position: absolute;
    bottom: 322px;
    right: 0px;
    width: 342px;
    height: 342px;
    display: block;
  }
}

.section-2__list {
  margin-top: 60px;
  border-bottom: 2px dashed #57AEFF;
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .section-2__list {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.section-2__item {
  width: 50%;
  margin-bottom: 90px;
}

@media (max-width: 768px) {
  .section-2__item {
    width: 100%;
    margin-bottom: 45px;
  }
}

.section-2__img {
  width: 75px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .section-2__img {
    width: 54px;
    margin-right: 33px;
  }
}

@media (max-width: 768px) {
  .section-2__text {
    width: calc(100% - 87px);
  }
}

.section-2__text h4 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 27px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .section-2__text h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.section-2__text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 27px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .section-2__text p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
  }
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  max-width: 675px;
  color: #393C47;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }
  .title br {
    display: none;
  }
}

.kwiz {
  background: #EAF9FF;
  border-radius: 5px;
  position: relative;
  min-height: 650px;
  padding: 54px;
  z-index: 2;
}

@media (max-width: 768px) {
  .kwiz {
    padding: 20px;
    min-height: auto;
    padding-bottom: 30px;
  }
}

.kwiz .btn {
  margin-top: 50px;
  background: url(../img/section-2/arr.svg) no-repeat 80% 50% #F75D25;
  padding: 22px 123px 22px 58px;
}

@media (max-width: 768px) {
  .kwiz .btn {
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 360px) {
  .kwiz .btn {
    padding: 22px 83px 22px 38px;
  }
}

.kwiz .kwiz-peoples {
  position: absolute;
  right: -50px;
  bottom: 0px;
  display: block;
}

@media (max-width: 768px) {
  .kwiz .kwiz-peoples {
    max-width: 60%;
    z-index: 0;
  }
}

.kwiz__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #393C47;
  max-width: 570px;
}

@media (max-width: 768px) {
  .kwiz__title {
    font-size: 24px;
    line-height: 29px;
  }
}

.kwiz-form {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.kwiz form {
  margin-top: 42px;
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  padding: 41px 43px;
  color: #393C47;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.kwiz form input[type='text'] {
  height: 56px;
  max-width: 297px;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 0px 20px;
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}

.kwiz form .btn {
  border: none;
}

@media (max-width: 768px) {
  .kwiz form {
    padding: 30px 15px;
  }
}

.kwiz form h4 {
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  line-height: 29px;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .kwiz form h4 {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 22px;
  }
}

label.j-checkbox {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 0;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

@media (max-width: 768px) {
  label.j-checkbox {
    font-size: 14px;
    line-height: 17px;
  }
}

label.j-checkbox.active:before {
  content: '';
  background: #393C47;
}

label.j-checkbox input {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

label.j-checkbox span {
  cursor: pointer;
}

label.j-checkbox:before {
  content: '';
  display: block;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  margin-right: 24px;
  background: #fff;
  border: 1px solid #CCE5F0;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 6px #fff;
          box-shadow: inset 0 0 0 6px #fff;
  cursor: pointer;
}

.section-3 {
  margin: 50px 0px;
}

@media (max-width: 768px) {
  .section-3 {
    margin: 30px 0px;
    border-bottom: 2px dashed #EAF9FF;
  }
}

.section-3 .tite {
  max-width: none;
}

.w-gallery {
  margin: 26px 0px 58px 0px;
}

@media (max-width: 768px) {
  .w-gallery {
    margin: 20px 0px 30px 0px;
  }
}

.w-gallery:last-child {
  margin-bottom: 0px;
}

.w-gallery h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #393C47;
  margin: 0px;
  margin-bottom: 7px;
}

.w-gallery p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #393C47;
  margin: 0px;
}

.w-gallery__list {
  margin-top: 18px;
}

@media (max-width: 768px) {
  .w-gallery__list {
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}

.w-gallery__item {
  width: 24%;
  margin-right: 2%;
}

@media (min-width: 769px) {
  .w-gallery__item:last-child {
    margin-right: 0px;
  }
}

.w-gallery__item img {
  width: 100%;
}

@media (max-width: 768px) {
  .slick-track {
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .slick-slide {
    margin-left: 15px;
    margin-right: 5px;
  }
}

.fabrica__row-1 {
  margin-top: 51px;
}

@media (max-width: 668px) {
  .fabrica__row-1 {
    margin-top: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fabrica__row-1 img {
    max-width: 100%;
  }
  .fabrica__row-1 > div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
  .fabrica__row-1 > div:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 20px;
  }
  .fabrica__row-1 > div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 20px;
  }
}

.fabrica__row-1 .fabrica__text {
  max-width: 242px;
}

@media (min-width: 669px) and (max-width: 1186px) {
  .fabrica__row-1 .fabrica__text {
    width: 24%;
    margin-bottom: 20px;
  }
}

@media (min-width: 669px) and (max-width: 1186px) {
  .fabrica__row-1 .fabrica__img {
    width: 48%;
  }
}

@media (max-width: 668px) {
  .fabrica__row-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fabrica__row-2 img {
    max-width: 100%;
  }
}

@media (min-width: 669px) and (max-width: 1186px) {
  .fabrica__row-2 .fabrica__img {
    width: 48%;
  }
}

@media (min-width: 669px) and (max-width: 1186px) {
  .fabrica__row-2 .fabrica__col {
    width: 48%;
  }
  .fabrica__row-2 .fabrica__col .fabrica__text {
    max-width: 300px;
  }
  .fabrica__row-2 .fabrica__col .fabrica__img {
    width: 100%;
  }
}

@media (max-width: 968px) {
  .fabrica__text {
    max-width: 270px;
  }
}

.fabrica__text h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #393C47;
  margin: 0px 0px 34px 0px;
}

@media (max-width: 968px) {
  .fabrica__text h4 {
    margin: 0px 0px 10px 0px;
  }
}

.fabrica__text h4::before {
  content: '';
  width: 26px;
  height: 6px;
  background: #F75D25;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
}

.fabrica__text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #393C47;
  margin: 34px 0px 0px 0px;
}

@media (max-width: 968px) {
  .fabrica__text p {
    margin: 10px 0px 0px 0px;
  }
}

.section-4 {
  padding: 57px 0px;
}

@media (max-width: 768px) {
  .section-4 {
    padding: 30px 0px;
  }
}

.fabrica__text-col {
  margin-top: 40px;
  max-width: 590px;
  margin-bottom: 53px;
  float: right;
}

@media (min-width: 669px) and (max-width: 1186px) {
  .fabrica__text-col {
    float: none;
    display: block;
  }
}

@media (max-width: 768px) {
  .fabrica__text-col {
    display: block;
    float: none;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

.fabrica__text-col .fabrica__text:first-child {
  margin-right: 90px;
}

@media (min-width: 669px) and (max-width: 1186px) {
  .fabrica__text-col .fabrica__text:first-child {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .fabrica__text-col .fabrica__text:first-child {
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.section-5 {
  background: url(../img/section-5/bg.png) no-repeat 100% 100% #393C47;
  padding: 72px 0px;
}

@media (max-width: 668px) {
  .section-5 {
    padding: 30px 0px;
    background: url(../img/section-5/bg.png) no-repeat 50% 100% #393C47;
  }
}

.section-5 .container {
  position: relative;
}

.section-5 .container:after {
  content: '';
  background: rgba(247, 93, 37, 0.5);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  position: absolute;
  bottom: 122px;
  right: 0px;
  width: 270px;
  height: 270px;
  display: block;
}

.section-5 .container:before {
  content: '';
  background: rgba(87, 174, 255, 0.3);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  position: absolute;
  bottom: calc(50% - 200px);
  left: 0px;
  width: 442px;
  height: 442px;
  display: block;
}

.section-5 .title {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  max-width: 100%;
}

@media (max-width: 768px) {
  .section-5 .title {
    font-size: 24px;
    line-height: 29px;
  }
}

.section-5__steps {
  margin-top: 88px;
}

@media (max-width: 768px) {
  .section-5__steps {
    margin-top: 40px;
  }
}

.section-5__steps .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
  text-align: left;
}

@media (max-width: 768px) {
  .section-5__steps .title {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 29px;
  }
}

.section-5__steps .section-5__desc {
  max-width: 640px;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

@media (max-width: 768px) {
  .section-5__steps .section-5__desc {
    font-size: 18px;
    line-height: 22px;
  }
  .section-5__steps .section-5__desc br {
    display: none;
  }
}

.video__container {
  border: 1px dashed #FFFFFF;
  margin: 46px 0px;
}

@media (max-width: 668px) {
  .video__container {
    margin: 20px 0px;
  }
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 33px 0px;
  position: relative;
}

@media (max-width: 1200px) {
  .video {
    margin: 33px 50px;
  }
}

@media (max-width: 668px) {
  .video {
    margin: 18px 10px;
  }
}

.video img {
  border-radius: 5px;
}

.video .play {
  background: url(../img/section-5/play.svg) no-repeat center;
  background-size: cover;
  width: 190px;
  height: 190px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 768px) {
  .video .play {
    width: 100px;
    height: 100px;
  }
}

.video .play:hover {
  opacity: 0.85;
}

.section-5__steps__list {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .section-5__steps__list {
    margin-top: 40px;
    display: block;
  }
}

.section-5__steps__item {
  width: 28%;
  color: #fff;
  position: relative;
}

@media (max-width: 768px) {
  .section-5__steps__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 769px) {
  .section-5__steps__item:last-child {
    width: 18%;
  }
  .section-5__steps__item:last-child:after {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-5__steps__item:last-child:after {
    display: none;
  }
}

.section-5__steps__item::after {
  content: '';
  background: url(../img/section-5/border.svg) repeat-y;
  width: calc(100% - 65px);
  height: 1px;
  display: block;
  position: absolute;
  top: 35px;
  left: 70px;
}

@media (max-width: 768px) {
  .section-5__steps__item::after {
    background: none;
    width: 1px;
    height: calc(100% - 25px);
    top: 65px;
    left: 37px;
    border-left: 1px dashed #fff;
  }
}

.section-5__steps__item p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .section-5__steps__item p {
    margin-left: 23px;
    margin-top: 0px;
  }
}

.section-5__steps__item p.section-5__data {
  margin: 0px;
  background: #F75D25;
  border-radius: 50px;
  padding: 3px 10px;
  display: table;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .section-5__steps__item p.section-5__data {
    margin-left: 15px;
  }
}

.section-5__steps__item span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #F75D25;
  width: 76px;
  height: 76px;
  min-width: 76px;
  background: url(../img/section-5/bg-curcle.svg) no-repeat center;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5__form {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 69px 76px;
  margin-top: 32px;
}

@media (max-width: 768px) {
  .section-5__form {
    padding: 27px 10px;
  }
}

.section-5__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 668px) {
  .section-5__form form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-5__form form input {
  background: #EAF9FF;
  border-radius: 100px;
  width: 48%;
  height: 64px;
  padding: 0px 25px;
  border: none;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 668px) {
  .section-5__form form input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section-5__form form .btn {
  width: 100%;
  border: none;
  height: 65px;
  font-size: 18px;
  line-height: 22px;
  padding-left: 35px;
  text-align: left;
}

@media (max-width: 768px) {
  .section-5__form form .btn {
    padding-right: 100px;
  }
  .section-5__form form .btn span {
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 360px) {
  .section-5__form form .btn {
    padding-right: 30px;
  }
  .section-5__form form .btn span {
    position: relative;
    z-index: 2;
  }
}

.section-5__form .section-5__form__btn {
  position: relative;
  width: 48%;
}

@media (max-width: 668px) {
  .section-5__form .section-5__form__btn {
    width: 100%;
  }
}

.section-5__form .section-5__form__btn img {
  position: absolute;
  right: 20px;
  top: -35px;
}

@media (max-width: 360px) {
  .section-5__form .section-5__form__btn img {
    right: -10px;
    top: -25px;
    width: 130px;
  }
}

.section-6 {
  margin: 62px 0px;
}

@media (max-width: 668px) {
  .section-6 {
    margin: 30px 0px;
  }
}

.section-6 .logos__list {
  margin-top: 50px;
  position: relative;
}

@media (max-width: 768px) {
  .section-6 .logos__list {
    margin-top: 39px;
  }
}

.section-6 .logos__list::after {
  content: '';
  width: 2px;
  height: 100%;
  left: 0px;
  background: #fff;
  z-index: 2;
  display: block;
  position: absolute;
}

.section-6 .logos__list::before {
  content: '';
  width: 100%;
  height: 2px;
  left: 0px;
  background: #fff;
  z-index: 2;
  bottom: 0px;
  display: block;
  position: absolute;
}

.section-6 .logos__item {
  width: 12.5%;
  text-align: center;
  height: 120px;
  border-left: 1px solid #EAF9FF;
  border-bottom: 1px solid #EAF9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .section-6 .logos__item {
    width: 25%;
  }
}

@media (max-width: 468px) {
  .section-6 .logos__item {
    width: 50%;
  }
}

.section-6 .logos__item img {
  max-width: 80%;
  display: block;
}

.section-7 {
  margin: 20px 0px 38px 0px;
}

@media (max-width: 768px) {
  .section-7 .container {
    position: relative;
  }
  .section-7 .container::after {
    content: '';
    background: rgba(87, 174, 255, 0.2);
    -webkit-filter: blur(250px);
            filter: blur(250px);
    position: absolute;
    bottom: 0px;
    right: -50px;
    width: 304px;
    height: 304px;
    display: block;
  }
}

.section-7__list {
  margin-top: 54px;
}

@media (max-width: 668px) {
  .section-7__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
}

.section-7__item {
  width: 30%;
  background: #FFFFFF;
  border: 2px solid #EAF9FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

@media (max-width: 868px) {
  .section-7__item {
    width: 48%;
    margin: 24px 0px;
  }
}

@media (max-width: 668px) {
  .section-7__item {
    width: 100%;
    max-width: 320px;
    margin: 24px 0px;
  }
}

.section-7__item:after {
  content: '';
  width: 100%;
  height: 8px;
  background: #EAF9FF;
  border-radius: 5px;
  position: absolute;
  display: block;
  top: -18px;
  left: 0px;
}

.section-7__item img {
  width: calc(100% + 2px);
  left: -1px;
  top: -1px;
  position: relative;
}

.section-7__nom {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #F75D25;
  padding: 15px 26px 0px 26px;
  margin-bottom: 22px;
}

@media (max-width: 768px) {
  .section-7__nom {
    padding: 15px 15px 0px 15px;
  }
}

.section-7 p {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #393C47;
  margin-top: 22px;
  margin-bottom: 60px;
  padding-left: 26px;
  padding-right: 26px;
}

@media (max-width: 768px) {
  .section-7 p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 35px;
  }
}

.section-8 {
  margin: 20px 0px 60px 0px;
}

@media (max-width: 768px) {
  .section-8 {
    margin: 10px 0px 40px 0px;
  }
}

.serts {
  margin-top: 47px;
}

@media (max-width: 768px) {
  .serts {
    margin-top: 20px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}

.serts__item {
  width: 24%;
  margin-right: 2%;
  position: relative;
  z-index: 2;
}

.serts__item:last-child {
  margin-right: 0px;
}

.serts p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #393C47;
  margin-top: 27px;
  margin-bottom: 0px;
  position: relative;
}

.serts p::before {
  content: '';
  width: 26px;
  height: 6px;
  background: #F75D25;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
}

.sub-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 19px;
  color: #393C47;
}

@media (max-width: 768px) {
  .sub-title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
  }
}

@media (max-width: 368px) {
  .sub-title br {
    display: none;
  }
}

.section-9 {
  padding: 54px 0px;
}

@media (max-width: 668px) {
  .section-9 {
    padding: 20px 0px 30px 0px;
  }
}

.section-9 .title {
  max-width: none;
}

.section-9__gift {
  background: #EAF9FF;
  border-radius: 5px;
  width: 100%;
  height: 650px;
  padding: 74px 68px;
  margin-top: -45px;
  position: relative;
}

@media (max-width: 768px) {
  .section-9__gift {
    margin-top: -14px;
    height: 350px;
    padding: 15px;
  }
}

.section-9__gift:before {
  content: '';
  width: 100%;
  height: 0px;
  display: block;
  position: absolute;
  top: -32px;
  left: 0px;
  border-top: 2px dashed #57AEFF;
}

.section-9__img {
  margin-top: -50px;
}

@media (max-width: 768px) {
  .section-9__img {
    margin: 10px -15px;
  }
}

.kwiz-step {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  height: 0px;
}

.kwiz-step.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.section-10 {
  background: url(../img/section-10/bg.png) no-repeat -30% 100% #393C47;
  padding: 65px 0px;
}

.section-10.white-bg {
  background: #fff;
  padding-top: 50px;
}

@media (max-width: 668px) {
  .section-10.white-bg {
    padding-top: 30px;
  }
}

.section-10.white-bg .contacts__content {
  margin-top: 60px;
}

@media (max-width: 668px) {
  .section-10.white-bg .contacts__content {
    margin-top: 33px;
  }
}

.section-10.white-bg .title {
  color: #393C47;
}

.section-10.white-bg .contacts__list div, .section-10.white-bg .contacts__form p {
  color: #393C47;
}

.section-10.white-bg .contacts__form {
  background: #EAF9FF;
}

@media (max-width: 668px) {
  .section-10 {
    background: url(../img/section-10/bg.png) no-repeat 100% 50% #393C47;
    padding: 30px 0px;
  }
}

.section-10 .title {
  color: #fff;
}

.section-10 .container {
  position: relative;
}

.section-10 .container:after {
  content: '';
  background: rgba(87, 174, 255, 0.4);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  position: absolute;
  bottom: 122px;
  left: 350px;
  width: 209px;
  height: 209px;
  display: block;
}

.contacts__list {
  margin-top: 26px;
}

@media (max-width: 968px) {
  .contacts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 668px) {
  .contacts__list {
    display: block;
    margin-top: 21px;
  }
}

@media (max-width: 968px) {
  .contacts__list .contacts__item {
    width: 48%;
  }
}

@media (max-width: 668px) {
  .contacts__list .contacts__item {
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
  }
  .contacts__list .contacts__item:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .contacts__list .contacts__item:last-child:after {
    display: none;
  }
}

@media (max-width: 468px) {
  .contacts__list .contacts__item {
    width: 100%;
  }
}

.contacts__list span {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.contacts__list div {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.contacts__razd {
  background: #32BEFF;
  height: 46px;
  width: 1px;
}

@media (max-width: 768px) {
  .contacts__razd {
    display: none;
  }
}

.contacts__content {
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  margin-top: 80px;
}

@media (max-width: 968px) {
  .contacts__content {
    margin-top: 40px;
  }
}

@media (max-width: 668px) {
  .contacts__content {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacts__map {
  width: 60%;
  height: 500px;
}

@media (max-width: 968px) {
  .contacts__map {
    width: 50%;
  }
}

@media (max-width: 668px) {
  .contacts__map {
    width: 100%;
    height: 400px;
  }
}

.contacts__form {
  padding: 50px 40px;
}

@media (max-width: 968px) {
  .contacts__form {
    width: 50%;
    padding: 30px 20px;
  }
}

@media (max-width: 668px) {
  .contacts__form {
    padding: 25px 15px;
    width: 100%;
  }
}

.contacts__form .title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

@media (max-width: 668px) {
  .contacts__form .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.contacts__form p {
  font-size: 16px;
  line-height: 20px;
  margin: 22px 0px 28px 0px;
  color: #fff;
}

@media (max-width: 668px) {
  .contacts__form p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0px 20px 0px;
  }
}

.contacts__form input {
  max-width: 313px;
  background: #FFFFFF;
  border-radius: 50px;
  margin-bottom: 15px;
  padding: 0px 15px;
  height: 49px;
  border: none;
  display: block;
  width: 100%;
  font-size: 16px;
}

.contacts__form .btn {
  max-width: 313px;
  width: 100%;
  font-size: 18px;
  border: none;
  height: 65px;
}

.footer {
  padding: 20px 0px;
  background: #222222;
}

@media (max-width: 468px) {
  .footer .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container a.fiji-logo-href {
    width: 100%;
    text-align: center;
  }
  .footer .container img {
    width: 70%;
    margin-top: 10px;
  }
}

.footer a.politic {
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFFFFF;
  border-bottom: 1px solid;
}

@media (max-width: 768px) {
  .fancybox-slide {
    padding: 20px;
  }
}

.fancybox-content {
  max-width: 700px;
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
  border-radius: 4px;
}

.fancybox-content p {
  font-weight: 400;
}

.fancybox-content .ImPoliticWrap-Title {
  font-size: 20px;
  font-weight: bold;
  line-height: 130%;
}

.ImPoliticWrap {
  max-width: 700px;
  font-weight: 300;
  padding: 10px 20px;
}

.awg-popup, .awg-popup-modal {
  display: none;
  opacity: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.awg-popup__content, .awg-popup-modal__content {
  max-width: 760px;
  margin: 0 auto;
  width: calc(100% - 80px);
  max-width: 760px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.awg-popup__close, .awg-popup-modal__close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: -30px;
}

.awg-popup__close:before, .awg-popup__close:after, .awg-popup-modal__close:before, .awg-popup-modal__close:after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.awg-popup__close:before, .awg-popup-modal__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.awg-popup__close:after, .awg-popup-modal__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.awg-popup__video, .awg-popup-modal__video {
  padding-top: 56.25%;
  position: relative;
}

.awg-popup__video iframe, .awg-popup-modal__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.second-menu-scroll::-webkit-scrollbar {
  width: 0;
}

.second-menu {
  position: fixed;
  left: 0px;
  overflow-y: auto;
  min-width: 300px;
  top: 0px;
  color: #fff;
  background: #393C47;
  min-height: 100vh;
  z-index: 9;
  left: -100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (min-width: 769px) {
  .second-menu {
    -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 768px) {
  .second-menu {
    width: 100%;
  }
}

.second-menu .logo-white {
  display: none;
}

@media (max-width: 768px) {
  .second-menu .logo-white {
    display: block;
    margin: 11px 15px;
  }
}

.second-menu.open {
  left: 0px;
}

.second-menu a {
  color: #fff;
  display: block;
}

.second-menu li {
  display: block;
}

.second-menu ul {
  margin: 0px;
  padding: 0px;
}

.second-menu .second-menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  width: 50px;
  height: 55px;
  top: 20px;
  right: 25px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 768px) {
  .second-menu .second-menu-close {
    height: 68px;
    width: 68px;
    top: 0px;
    right: 0px;
    background: #EAF9FF;
    padding: 20px;
  }
}

.second-menu .second-menu-close span {
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 2px;
}

@media (max-width: 768px) {
  .second-menu .second-menu-close span {
    background-color: #F75D25;
  }
}

.second-menu .second-menu-close span:after, .second-menu .second-menu-close span:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #fff;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .second-menu .second-menu-close span:after, .second-menu .second-menu-close span:before {
    background-color: #F75D25;
  }
}

.second-menu .second-menu-close span:before {
  top: 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  height: 2px;
}

.second-menu .second-menu-close span:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 2px;
}

.second-menu .second-menu-scroll {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 30px;
  scroll-behavior: smooth;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.second-menu .second-menu-lvl-1 {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .second-menu .second-menu-lvl-1 {
    margin-top: 30px;
  }
}

.second-menu .second-menu-lvl-1 > li > a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  display: block;
  padding: 11px 27px;
}

.second-menu .second-menu-lvl-2 > li {
  background: #F75D25;
}

.second-menu .second-menu-lvl-2 > li > a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 11px 27px;
}

.second-menu .second-menu-lvl-3 > li {
  background: #565B6C;
}

.second-menu .second-menu-lvl-3 > li > a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 11px 27px;
  border-left: 5px solid #F75D25;
}

.second-menu .second-menu-lvl-4 {
  background: #393C47;
}

.second-menu .second-menu-lvl-4 > li > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 11px 27px;
}

.breadcrumbs {
  background: #EAF9FF;
  padding: 8px 0px;
  font-size: 12px;
  line-height: 15px;
  color: #393C47;
}

.breadcrumbs a {
  color: #393C47;
  text-decoration: none;
}

.breadcrumbs span {
  color: #F75D25;
  font-weight: 600px;
}

.inner-main {
  height: 450px;
  color: #fff;
}

.inner-main__specwear {
  background: url(../img/specwear/main.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 760px) {
  .inner-main__specwear {
    background: url(../img/specwear/main-mob.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
  }
}

.inner-main__subcategory {
  background: url(../img/subcategory/main.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 760px) {
  .inner-main__subcategory {
    background: url(../img/subcategory/main-mob.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
  }
}

.inner-main__medwear {
  background: url(../img/medwear/main.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 760px) {
  .inner-main__medwear {
    background: url(../img/medwear/main-mob.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
  }
}

.inner-main__horeca {
  background: url(../img/horeca/main.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 760px) {
  .inner-main__horeca {
    background: url(../img/horeca/main-mob.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
  }
}

.inner-main h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin: 10px 0px;
}

@media (max-width: 960px) {
  .inner-main h1 {
    font-size: 36px;
    line-height: 140%;
  }
}

@media (max-width: 760px) {
  .inner-main h1 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .inner-main h1 br {
    display: none;
  }
}

.inner-main .btn {
  padding: 22px 33px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 30px;
}

@media (max-width: 760px) {
  .inner-main .btn {
    font-size: 16px;
    line-height: 20px;
    padding: 22px 20px;
    margin: 30px auto;
  }
}

.catalog {
  margin: 75px 0px 40px 0px;
}

@media (max-width: 760px) {
  .catalog {
    margin: 30px 0px 30px 0px;
  }
}

.catalog__filter {
  background: #EAF9FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  margin: 28px 0px;
}

@media (max-width: 760px) {
  .catalog__filter {
    margin: 8px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 17px 10px;
  }
}

.catalog__filter form {
  width: 100%;
}

@media (max-width: 1160px) {
  .catalog__filter form select {
    margin: 0px 5px;
    padding-right: 30px;
    background: url(../img/select.svg) no-repeat 90% 50% #FFFFFF;
  }
}

@media (max-width: 460px) {
  .catalog__filter form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__filter form select {
    width: 48%;
    margin: 5px 0px;
  }
}

@media (max-width: 760px) {
  .catalog__filter form select {
    width: 100%;
    margin: 5px 0px;
  }
}

.catalog__filter form .btn {
  height: 34px;
  max-width: 184px;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 15px;
}

@media (max-width: 760px) {
  .catalog__filter form .btn {
    max-width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
  }
}

.catalog__filter-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #393C47;
}

@media (max-width: 760px) {
  .catalog__filter-title {
    font-size: 14px;
    line-height: 17px;
  }
}

select {
  width: 220px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  padding: 0px 12px;
  background: url(../img/select.svg) no-repeat 95% 50% #FFFFFF;
  border-radius: 50px;
  color: #393C47;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 23px;
  grid-row-gap: 51px;
}

@media (max-width: 960px) {
  .catalog__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

@media (max-width: 760px) {
  .catalog__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

@media (max-width: 460px) {
  .catalog__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

.catalog__list .product {
  border: 1px solid #EAF9FF;
  border-radius: 5px;
  max-width: 290px;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 460px) {
  .catalog__list .product {
    margin: 0 auto;
  }
}

.catalog__list .product:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.catalog__list .product__img {
  border-bottom: 1px solid #EAF9FF;
  border-radius: 5px;
}

.catalog__list .product__info {
  padding: 9px 10px 25px 10px;
}

.catalog__list .product__article {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #BDBDBD;
}

.catalog__list .product__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393C47;
  margin: 5px 0px 10px 0px;
}

.catalog__list .product__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F75D25;
}

.individual-offer {
  background: #EAF9FF;
  border-radius: 5px;
  padding: 53px;
  position: relative;
  z-index: 2;
}

@media (min-width: 761px) {
  .individual-offer {
    min-height: 530px;
  }
}

@media (max-width: 760px) {
  .individual-offer {
    padding: 27px 15px 305px 15px;
  }
}

.individual-offer:after {
  content: "";
  border-bottom: 2px dashed #57AEFF;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -67px;
  left: 0px;
  display: block;
}

@media (max-width: 760px) {
  .individual-offer:after {
    bottom: -30px;
  }
}

.individual-offer .title {
  color: #393C47;
}

@media (max-width: 760px) {
  .individual-offer .title br {
    display: none;
  }
}

.individual-offer p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393C47;
  margin: 17px 0px 45px 0px;
}

@media (max-width: 960px) {
  .individual-offer p {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 760px) {
  .individual-offer p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0px 15px 0px;
  }
  .individual-offer p br {
    display: none;
  }
}

.individual-offer__manager {
  position: absolute;
  bottom: -5px;
  right: 0px;
}

@media (max-width: 960px) {
  .individual-offer__manager {
    right: -50px;
  }
  .individual-offer__manager img {
    height: 355px;
    float: right;
  }
}

@media (max-width: 760px) {
  .individual-offer__manager {
    width: 100%;
    right: -50px;
  }
  .individual-offer__manager img {
    height: 325px;
    float: right;
  }
}

.individual-offer__manager p {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  bottom: 58px;
  left: -40px;
}

@media (max-width: 960px) {
  .individual-offer__manager p {
    bottom: 130px;
    left: -80px;
  }
  .individual-offer__manager p br {
    display: block;
  }
}

@media (max-width: 760px) {
  .individual-offer__manager p {
    bottom: 150px;
    left: 30px;
  }
  .individual-offer__manager p br {
    display: block;
  }
}

@media (max-width: 360px) {
  .individual-offer__manager p {
    bottom: 150px;
    left: 0px;
  }
  .individual-offer__manager p br {
    display: block;
  }
}

.individual-offer input[type='text'] {
  height: 49px;
  max-width: 313px;
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 0px 20px;
  font-size: 16px;
  margin-bottom: 15px;
  display: block;
}

.individual-offer .btn {
  border: none;
  max-width: 313px;
  width: 100%;
  margin-top: 22px;
  height: 65px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.product__more__left {
  width: 48%;
}

@media (max-width: 760px) {
  .product__more__left {
    width: 100%;
  }
}

.product__more__right {
  width: 48%;
}

@media (max-width: 760px) {
  .product__more__right {
    width: 100%;
  }
}

.product__more__content {
  margin: 20px 0px 60px 0px;
}

@media (max-width: 760px) {
  .product__more__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 760px) {
  .product__more__slider-big {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .product__more__slider-big .slick-dots {
    background: #EAF9FF;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__more__slider-big .slick-dots li button:before {
    display: none;
  }
  .product__more__slider-big .slick-dots .slick-active {
    background: #57AEFF;
    border-radius: 5px;
    width: 50px;
    height: 6px;
  }
}

.product__more__slider-big img {
  width: calc(100% - 4px);
  border: 1px solid #EAF9FF;
  border-radius: 5px;
}

.product__more__slider-small {
  padding: 0px 44px;
}

@media (max-width: 760px) {
  .product__more__slider-small {
    display: none;
  }
}

.product__more__slider-small .slick-slide {
  margin: 0px 4px;
  border: 1px solid #EAF9FF;
  border-radius: 5px;
  overflow: hidden;
}

.product__more__slider-small .slick-slide.slick-current.slick-active {
  border: 1px solid #57AEFF;
}

.product__more__slider-small img {
  width: 100%;
}

.product__more__slider-small .slick-list {
  padding: 0px 2px;
}

.product__more__slider-small .slick-prev {
  background: url(../img/arr-product-left.svg) no-repeat;
  width: 24px;
  height: 21px;
  left: 0px;
}

.product__more__slider-small .slick-prev:before {
  display: none;
}

.product__more__slider-small .slick-next {
  background: url(../img/arr-product-right.svg) no-repeat;
  width: 24px;
  height: 21px;
  right: 0px;
  z-index: 2;
}

.product__more__slider-small .slick-next:before {
  display: none;
}

.product__more__slider-small .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__more__spec {
  margin-top: 50px;
}

@media (max-width: 760px) {
  .product__more__spec {
    margin-top: 35px;
  }
}

.product__more__spec h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #393C47;
}

.product__more__spec p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393C47;
}

.product__more__spec p span {
  opacity: 0.5;
}

.product__more {
  margin-top: 40px;
}

@media (max-width: 760px) {
  .product__more {
    margin-top: 20px;
  }
}

.product__more h1 {
  margin: 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

@media (max-width: 760px) {
  .product__more h1 {
    font-size: 24px;
    line-height: 29px;
  }
}

.product__more .product__more__price {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #F75D25;
}

@media (max-width: 760px) {
  .product__more .product__more__price {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-wrapper .individual .individual-offer:after {
  display: none;
}

.about-page {
  color: #fff;
  background: url(../img/mask-about.png) no-repeat center bottom #393C47;
  padding: 62px 0px 94px 0px;
}

@media (max-width: 760px) {
  .about-page {
    padding-top: 25px;
  }
}

.about-page .container {
  position: relative;
}

@media (max-width: 860px) {
  .about-page .container {
    padding-bottom: 150px;
  }
}

@media (max-width: 760px) {
  .about-page .container {
    padding-bottom: 300px;
  }
}

.about-page__text {
  max-width: 670px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.about-page__text .btn {
  margin-top: 40px;
  padding: 22px 50px;
}

@media (max-width: 760px) {
  .about-page__text .btn {
    padding: 22px 60px;
    position: absolute;
    bottom: -20px;
    z-index: 2;
    max-width: 300px;
    left: 50%;
    margin-left: -140px;
  }
}

.about-page .title {
  color: #fff;
  margin-bottom: 19px;
}

.about-page .ruzaliya {
  position: absolute;
  right: -50px;
  bottom: -94px;
}

@media (max-width: 960px) {
  .about-page .ruzaliya img {
    height: 444px;
    max-width: none;
  }
}

@media (max-width: 760px) {
  .about-page .ruzaliya {
    right: 0px;
  }
}

.about-page .ruzaliya p {
  position: absolute;
  bottom: 120px;
  left: -20px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media (max-width: 760px) {
  .about-page .ruzaliya p {
    display: none;
  }
}

.about-page .ruzaliya p span {
  font-weight: bold;
  display: block;
}

.factory {
  margin: 60px 0px;
}

@media (max-width: 760px) {
  .factory {
    margin: 35px 0px;
  }
}

.factory__list {
  margin-top: 38px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 15px;
}

@media (max-width: 760px) {
  .factory__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .factory__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.factory__list img {
  width: 100%;
  border-radius: 5px;
}

.map-partners {
  background: url(../img/map-partner.png) no-repeat 100% 20% #393C47;
  color: #fff;
  padding: 80px 0px;
}

@media (min-width: 761px) {
  .map-partners .container {
    position: relative;
  }
  .map-partners .container:after {
    content: "";
    width: 279px;
    height: 279px;
    background: rgba(247, 93, 37, 0.5);
    -webkit-filter: blur(150px);
            filter: blur(150px);
    position: absolute;
    display: block;
    bottom: 200px;
    right: -40px;
    z-index: 0;
  }
  .map-partners .container:before {
    content: "";
    width: 279px;
    height: 279px;
    background: rgba(87, 174, 255, 0.4);
    -webkit-filter: blur(150px);
            filter: blur(150px);
    position: absolute;
    display: block;
    bottom: 20px;
    left: -40px;
    z-index: 0;
  }
}

@media (max-width: 760px) {
  .map-partners {
    padding: 35px 0px;
  }
}

.map-partners .title {
  margin-bottom: 40px;
  color: #fff;
}

.map-partners__list {
  padding-bottom: 50px;
  border-bottom: 2px dashed #57AEFF;
}

.map-partners__list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 668px) {
  .map-partners__list p {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.map-partners__list p span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  min-width: 286px;
}

@media (max-width: 668px) {
  .map-partners__list p span {
    display: block;
  }
}

.map-partners__list .btn {
  padding: 22px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 760px) {
  .map-partners__list .btn {
    font-size: 16px;
  }
}

.mess-director {
  background: #EAF9FF;
  border-radius: 5px;
  padding: 54px;
  margin-top: 53px;
  position: relative;
  z-index: 2;
}

@media (max-width: 668px) {
  .mess-director {
    padding: 25px 15px;
  }
}

.mess-director .title {
  color: #393C47;
  margin-bottom: 15px;
}

.mess-director p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 15px 0px 33px 0px;
  color: #393C47;
}

@media (max-width: 668px) {
  .mess-director p {
    font-size: 18px;
    line-height: 22px;
  }
  .mess-director p br {
    display: none;
  }
}

.mess-director form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mess-director form input {
  background: #FFFFFF;
  max-width: 313px;
  width: 100%;
  height: 49px;
  border-radius: 50px;
  margin-bottom: 18px;
  border: none;
  padding: 14px 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 19px;
}

@media (max-width: 668px) {
  .mess-director form input {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.mess-director form textarea {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 14px 27px;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 150px;
}

@media (max-width: 668px) {
  .mess-director form textarea {
    height: 200px;
  }
}

.mess-director form .btn {
  margin-top: 17px;
  padding: 22px 35px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.city-selector {
  background: #F3F8FF;
  width: 100%;
  height: 100%;
  min-height: 750px;
  z-index: 4;
  padding: 55px 0px;
}

.city-selector__list {
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 30px;
}

@media (max-width: 960px) {
  .city-selector__list {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media (max-width: 760px) {
  .city-selector__list {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 460px) {
  .city-selector__list {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.city-selector__item {
  margin-bottom: 22px;
  display: inline-block;
  width: 100%;
}

.city-selector__item a {
  font-size: 18px;
  line-height: 183.19%;
  text-decoration: none;
  display: table;
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.city-selector__letter {
  font-weight: 900;
  font-size: 18px;
  line-height: 133.19%;
  color: #393C47;
}

.city-selector__list a.capital {
  font-weight: bold;
  color: #F75D25;
}
/*# sourceMappingURL=style.css.map */