@import url('/fonts/stylesheet.css');

*,
*::before,
*::after,
*:focus {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper {
    overflow: hidden; 
    min-height: 100vh;
    flex: 1 0 auto;
    height: 100%;
} 
a {
    text-decoration: none;
}
.container {
    max-width: 1260px;
    padding: 0px 15px;
    margin: 0 auto;
    @media (max-width:380px) {
        padding: 0px 10px;
    }
}
img {
    max-width: 100%;
}
.-flex {
    display: flex;
}
.-center {
    align-items: center;
}
.-start {
    align-items: flex-start;
}
.-end {
    align-items: flex-end;
}
.-wrap {
    flex-wrap: wrap;
}
.-justify-between {
    justify-content: space-between;
}

.section-1 {
    background: url(../img/section-1/bg.jpg) no-repeat center;
    background-size: cover;
    height: 666px;
    padding-top: 140px;
    @media (max-width:968px) {    
        height: 466px;
        padding-top: 50px;}
    @media (max-width:668px) {
        background: url(../img/section-1/bg-mob.jpg) no-repeat center;
        background-size: cover;
        padding-top: 32px;
        min-height: 666px;
        height: auto;
        padding-bottom: 43px;
    }
    h1 {
        margin: 0px;
        text-align: center;
        color: #fff;
        font-size: 48px;
        line-height: 59px;
        margin: 0px;
        @media (max-width:968px) {
            font-size: 34px;
            line-height: 39px;
         }
        @media (max-width:668px) {
            font-size: 24px;
            line-height: 29px;
         }
         @media (max-width:360px) {
            br {
                display: none;
            }
         }
    }
}

header {
    height: 92px;
    @media (max-width:768px) {
        height: 68px;
        img {
            margin: 11px 0px;
            height: 44px;
        }
    }
}

.header__toggler {
    height: 92px;
    width: 92px;
    background: #EAF9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    margin-right: 14px;
    @media (max-width:768px) {
        right: -15px;
        margin-right: 0px;
        position: relative;
        height: 68px;
        width: 68px;
        top: -1px;
    }
    &.active {
        background: #14316B;
        span {
            transform: rotate(45deg);
            
            height: 2px;
            &:after {
                top: 0;
                transform: rotate(90deg);
                height: 2px;
            }
            &:before {
                top: 0;
                transform: rotate(0);
                height: 2px;
            }
        }
    }
    span {
        display: block;
        position: absolute;
        width: 30px;
        height: 4px;
        border-radius: 10px;
        background-color: #F75D25;
        transition-duration: .25s;
        &::after,  &::before {
            display: block;
            position: absolute;
            width: 30px;
            height: 4px;
            background-color: #F75D25;
            transition-duration: .25s;
            border-radius: 10px;
        }
        &::before {
            content: '';
            top: -8px;
        }
        &::after {
            content: '';
            top: 8px;
        }
    }
    
}


.header__adress {
    border-left: 1px solid #F7F7F7;
    height: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #393C47;
    margin-left: 22px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    @media (max-width:768px) {
        display: none;
    }
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #57AEFF;
        border-bottom: 1px solid;
        display: table;
        margin-top: 3px;
    }
}

.header__contact {
    @media (max-width:768px) {
        display: none;
    }
    a {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #393C47;
    }
    span {
        display: block;
        font-size: 14px;
        line-height: 17px;
        color: #393C47;
        margin-top: 3px;
    }
}

.header__left {
    @media (max-width:768px) {
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

nav {
    @media (max-width:768px) {
        display: none;
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            display: block;
            padding: 31px 0px;
            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #393C47;
                &.active, &:hover {
                    color: #F75D25;
                }
            }
        }
    }
}
.btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #F75D25;
    box-shadow: 0px 25px 13px -16px rgba(247, 93, 37, 0.4);
    border-radius: 50px;
    padding: 14px 45px;
    display: table;
    transition: all .2s;
    cursor: pointer;
    &:hover {
        background: #d34816;
        box-shadow: 0px 15px 13px -16px rgba(247, 93, 37, 0.4);
    }
}
.section-1__list-feature {
    margin-top: 70px;
    @media (max-width:668px) { 
        display: block;
        margin-top: 28px;
    }
}
.section-1__list-feature__item {
    width: 30%;
    text-align: center;
    color: #fff;
    @media (max-width:668px) {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
     }
    img {
        display: inline-block;
    }
    p {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        min-height: 66px;
        @media (max-width:768px) {
            font-size: 14px;
            line-height: 17px;
            min-height: auto;
        }
    }
    .btn {
        margin-top: 34px;
        margin: 0 auto;
        
    }
}

.section-2 {
    background: url(/img/section-2/bg.png) no-repeat 100% 95px #393C47;
    padding-top: 80px;
    padding-bottom: 100px;
    color: #fff;
    .title {
        color:#fff;
    }
    @media (max-width:668px) {
        padding-top: 30px;
        padding-bottom: 30px;
       
    }
    .container {
        position: relative;
        &:after {
            content: '';
            background: rgba(247, 93, 37, 0.5);
            filter: blur(250px);
            filter: blur(250px);
            position: absolute;
            bottom: 322px;
            right: 0px;
            width: 342px;
            height: 342px;
             display: block;
        }
    }
    &__list {
        margin-top: 60px;
        border-bottom: 2px dashed #57AEFF;
        margin-bottom: 55px;
        @media (max-width:768px) {
            margin-top: 25px;
            margin-bottom: 30px;
         }
    }
    &__item {
        width: 50%;
        margin-bottom: 90px;
        @media (max-width:768px) {
            width: 100%;
            margin-bottom: 45px;
        }
    }
    &__img {
        width: 75px;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @media (max-width:768px) {
            width: 54px;
            margin-right: 33px;
        }
    }
    &__text {
        @media (max-width:768px) {
            width: calc(100% - 87px);
        }
        h4 {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 27px;
            margin-top: 0px;
            @media (max-width:768px) {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin-top: 27px;
            margin-bottom: 0px;
            @media (max-width:768px) {
                font-size: 14px;
                line-height: 17px;
                margin-top: 10px;
            }
        }
    }
}
.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    max-width: 675px;
    color: #393C47;
    @media (max-width:768px) {
        font-size: 24px;
        line-height: 29px;
        br {
            display: none;
        }
    }
}

.kwiz {
    background: #EAF9FF;
    border-radius: 5px;
    position: relative;
    min-height: 650px;
    padding:54px;
    z-index: 2;
    @media (max-width:768px) {
        padding: 20px;
        min-height: auto;
        padding-bottom: 30px;
    }
    .btn {
        margin-top: 50px;
        background: url(../img/section-2/arr.svg) no-repeat 80% 50% #F75D25;
        padding: 22px 123px 22px 58px;
        @media (max-width:768px){
            position: relative;
            z-index: 2;
        }
        @media (max-width:360px){ 
            padding: 22px 83px 22px 38px;
        }
    }
    .kwiz-peoples {
        position: absolute;
        right: -50px;
        bottom: 0px;
        display: block;
        @media (max-width:768px) {
            max-width: 60%;
            z-index: 0;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #393C47;
        max-width: 570px;
        @media (max-width:768px) {
            font-size: 24px;
            line-height: 29px;
        }
    }
    form {
        margin-top: 42px;
        border: 4px solid #FFFFFF;
        border-radius: 5px;
        padding: 41px 43px;
        color: #393C47;
        @media (max-width:768px) {
            padding: 30px 15px;
        }
        h4 {
            font-weight: 600;
            font-size: 24px;
            margin: 0px;
            line-height: 29px;
            margin-bottom: 33px;
            @media (max-width:768px) {
                font-size: 18px;
                margin-bottom: 15px;
                line-height: 22px;
            }
        }
    }
}

label.j-checkbox {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 0;
    position: relative;
    cursor: pointer;
    z-index: 2;
    @media (max-width:768px) {
        font-size: 14px;
        line-height: 17px;
    }
    &.active {
        &:before {
            content: '';
            background: #393C47;
        }
    }
    input {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        z-index: 2;
    }   


    span {
        cursor: pointer;
    }
    &:before {
        content: '';
        display: block;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
        margin-right: 24px;
        background: #fff;
        border: 1px solid #CCE5F0;
        border-radius: 3px;
        box-shadow: inset 0 0 0 6px #fff;
        cursor: pointer;
    }
}

.section-3 {
    padding: 57px 0px;
    @media (max-width:768px) {
        padding: 30px 0px;
        border-bottom: 2px dashed #EAF9FF;
    }
    .tite {
        max-width: none;
    }
}

.w-gallery {
    margin:26px 0px 58px 0px;
    @media (max-width:768px) {
        margin: 20px 0px 30px 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }
    h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #393C47;
        margin: 0px;
        margin-bottom: 7px;
    }
    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #393C47;
        margin: 0px;
    }
    &__list {
        margin-top: 18px;
        @media (max-width:768px) {
            margin-left: -15px;
            width: calc(100% + 30px);
            
        }
    }
    &__item {
        width: 24%;
        margin-right: 2%;
 
        &:last-child {
           
            @media (min-width:769px) {
            margin-right: 0px;
        }
        }
        img {
            width: 100%;
        }
    }
}
.slick-track{
    @media (max-width:768px) {
        padding-right: 15px;
    }
}
.slick-slide {
    @media (max-width:768px) {
        margin-left: 15px;
        margin-right: 5px;
    }
}

.fabrica__row-1 {
    margin-top: 51px;
    @media (max-width:668px) {
        margin-top: 35px;
        img {
            max-width: 100%;
        }
        flex-wrap: wrap;
        > div:first-child {
            order:1;
            margin-bottom: 20px;
        }
        > div:nth-child(2) {
            order:3;
            margin-bottom: 20px;
        }
        > div:nth-child(3) {
            order:2;
            margin-bottom: 20px;
        }
    }
    .fabrica__text {
        max-width: 242px;
        @media (min-width:669px) and (max-width:1186px) {
            width: 24%;
            margin-bottom: 20px;
        }
    }
    .fabrica__img {
        @media (min-width:669px) and (max-width:1186px) {
            width: 48%;
        }
    }
}

.fabrica__row-2 {
    @media (max-width:668px) {
        flex-wrap: wrap;
        img {
            max-width: 100%;
        }
    }
    .fabrica__img {
        @media (min-width:669px) and (max-width:1186px) {
            width: 48%;
        }
    }
    .fabrica__col {
        @media (min-width:669px) and (max-width:1186px) {
            width: 48%;
            .fabrica__text {
                max-width: 300px;
            }
            .fabrica__img { 
                width: 100%;
            }
        }
    }
}

.fabrica__text {
    @media (max-width:968px) {
        max-width: 270px;
    }
    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;        
        color: #393C47;
        margin: 0px 0px 34px 0px;
        @media (max-width:968px) {
            margin: 0px 0px 10px 0px;
        }
        &::before {
            content: '';
            width: 26px;
            height: 6px;
            background: #F75D25;
            border-radius: 10px;
            display: block;
            margin-bottom: 15px;
        }
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #393C47;
        margin: 34px 0px 0px 0px;
        @media (max-width:968px) {
            margin: 10px 0px 0px 0px;
        }
    }
}

.section-4 {
    padding: 57px 0px;
    @media (max-width:768px){
        padding: 30px 0px;
    }
}

.fabrica__text-col {
    margin-top: 40px;
    max-width: 590px;
    margin-bottom: 53px;
    float: right;
    @media (min-width:669px) and (max-width:1186px) {
        float: none;
        display: block;
    }
    @media (max-width:768px) {
        display: block;
        float: none;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .fabrica__text {
        &:first-child {
            margin-right: 90px;
            @media (min-width:669px) and (max-width:1186px) {
                margin-bottom: 35px;
            }
            @media (max-width:768px) {
                margin-right: auto;
                margin-bottom: 30px;
            }
        }
    }
}

.section-5 {
    background: url(../img/section-5/bg.png) no-repeat 100% 100% #393C47;
    padding: 72px 0px;
    @media (max-width:668px) {
        padding: 30px 0px;
        background: url(../img/section-5/bg.png) no-repeat 50% 100% #393C47;
    }
    .container {
        position: relative;
        &:after {
            content: '';
            background: rgba(247, 93, 37, 0.5);
            filter: blur(250px);
            position: absolute;
            bottom: 122px;
            right: 0px;
            width: 270px;
            height: 270px;
            display: block;
        }
        &:before {
            content: '';
            background: rgba(87, 174, 255, 0.3);
            filter: blur(250px);
            position: absolute;
            bottom: calc(50% - 200px);
            left: 0px;
            width: 442px;
            height: 442px;
            display: block;
        }
    }
    .title {
        text-align: center;
        font-size: 36px;
        line-height: 44px;
        color:#fff;
        max-width: 100%;
        @media (max-width:768px) {
            font-size: 24px;
            line-height: 29px;
        }
    }
    &__steps {
        margin-top: 88px;
        @media (max-width:768px) {
            margin-top: 40px;
        }
        .title {
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 20px;
            text-align: left;
            @media (max-width:768px) {
                font-size: 24px;
                margin-bottom: 10px;
                line-height: 29px;
            }
        }
        .section-5__desc {
            max-width: 640px;
            font-size: 24px;
            line-height: 29px;
            color:#fff;
            @media (max-width:768px) {
                font-size: 18px;
                line-height: 22px;
                br {
                    display: none;
                }
            }
        }
    }
}
.video__container {
    border: 1px dashed #FFFFFF;
    margin: 46px 0px;
    @media (max-width:668px) {
        margin: 20px 0px;
    }
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 33px 0px;
    position: relative;
    @media (max-width:1200px) {
        margin: 33px 50px;
    }
    @media (max-width:668px) {
        margin: 18px 10px;
    }
    img {
        border-radius: 5px;
    }
    .play {
        background: url(../img/section-5/play.svg) no-repeat center;
        background-size: cover;
        width: 190px;
        height: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: all .2s;
        @media (max-width:768px) {
            width: 100px;
            height: 100px;
        }
        &:hover {
            opacity: 0.85;
        }
    }
}
.section-5__steps__list {
    margin-top: 50px;
    @media (max-width:768px) {
        margin-top: 40px;
        display: block;
    }
}
.section-5__steps__item {
    width: 28%;
    color:#fff;
    position: relative;
    @media (max-width:768px) {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        align-items: center;
    }
    @media (min-width:769px) {
        &:last-child {
            width: 18%;
            &:after {
                display: none;
            }
        }
    }
    @media (max-width:768px) {
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
    &::after {
        content: '';
        background: url(../img/section-5/border.svg) repeat-y;
        width: calc(100% - 65px);
        height: 1px;
        display: block;
        position: absolute;
        top: 35px;
        left: 70px;
        @media (max-width:768px) {
            background: none;
            width: 1px;
            height: calc(100% - 25px);
            top: 65px;
            left: 37px;
            border-left: 1px dashed #fff;
        }
    }
    p {
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 0px;
        @media (max-width:768px) {
            margin-left: 23px;
            margin-top: 0px;
        }
        &.section-5__data {
            margin: 0px;
            background: #F75D25;
            border-radius: 50px;
            padding: 3px 10px;
            display: table;
            margin-top: 4px;
            @media (max-width:768px) {
                margin-left: 15px;
            }
        }
    }
    span {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #F75D25;
        width: 76px;
        height: 76px;
        min-width: 76px;
        background: url(../img/section-5/bg-curcle.svg) no-repeat center;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-5__form {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 69px 76px;
    margin-top: 32px;
    @media (max-width:768px) {
        padding: 27px 10px;
    }
    form {
        display: flex;
        justify-content: space-between;
        @media (max-width:668px) { 
            flex-wrap: wrap;
        }
        input {
            background: #EAF9FF;
            border-radius: 100px;
            width: 48%;
            height: 64px;
            padding: 0px 25px;
            border:none;
            font-size: 18px;
            line-height: 22px;
            @media (max-width:668px) { 
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .btn {
            width: 100%;
            border: none;
            height: 65px;
            font-size: 18px;
            line-height: 22px;
            padding-left: 35px;
            text-align: left;
            @media (max-width:768px) { 
                padding-right: 100px;
                span {
                    position: relative;
                    z-index: 2;
                }
             }
             @media (max-width:360px) { 
                padding-right: 30px;
                span {
                    position: relative;
                    z-index: 2;
                }
             }
        }
    }
    .section-5__form__btn {
        position: relative;
        width: 48%;
        @media (max-width:668px) { 
            width: 100%;
         }
        img {
            position: absolute;
            right: 20px;
            top: -35px;
            @media (max-width:360px) {
                right: -10px;
                top: -25px;
                width: 130px;
            }
        }
    }
}

.section-6 {
    padding: 62px;
    @media (max-width:668px) { 
        padding: 30px 0px;
     }
    .logos__list {
        margin-top: 50px;
        position: relative;
        @media (max-width:768px) { 
            margin-top: 39px;  
        }
        &::after {
            content: '';
            width: 2px;
            height: 100%;
            left: 0px;
            background: #fff;
            z-index: 2;
            display: block;
            position: absolute;;
        }
        &::before {
            content: '';
            width: 100%;
            height: 2px;
            left: 0px;
            background: #fff;
            z-index: 2;
            bottom: 0px;
            display: block;
            position: absolute;;
        }
    }
    .logos__item {
        width: 12.5%;
        text-align: center;
        height: 120px;
        border-left: 1px solid #EAF9FF;
        border-bottom: 1px solid #EAF9FF;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:768px) { 
            width: 25%;
         }
        @media (max-width:468px) { 
            width: 50%;
         }
        img {
            max-width: 80%;
            display: block;
        }
    }
}

.section-7 {
    padding: 20px 0px 38px 0px;
    .container {
        @media (max-width:768px) { 
            position: relative;
            &::after {
                content: '';
                background: rgba(87, 174, 255, 0.2);
                filter: blur(250px);
                position: absolute;
                bottom: 0px;
                right: -50px;
                width: 304px;
                height: 304px;
                display: block;
            }
        }
    }
    &__list {
        margin-top: 54px;
        @media (max-width:668px) { 
            justify-content: center;
            margin-top: 40px;
         }
    }
    &__item {
        width: 30%;
        background: #FFFFFF;
        border: 2px solid #EAF9FF;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 60px;
        position: relative;
        z-index: 2;
        @media (max-width:868px) { 
            width: 48%;
            // max-width: 320px;
            margin: 24px 0px;
         }
        @media (max-width:668px) { 
            width: 100%;
            max-width: 320px;
            margin: 24px 0px;
         }
        &:after {
            content: '';
            width: 100%;
            height: 8px;
            background: #EAF9FF;
            border-radius: 5px;
            position: absolute;
            display: block;
            top: -18px;
            left: 0px;
        }
        img {
            width: calc(100% + 2px);
            left: -1px;
            top: -1px;
            position: relative;
        }
    }
    &__nom {
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #F75D25;
        padding: 15px 26px 0px 26px;
        margin-bottom: 22px;
        @media (max-width:768px) { 
            padding: 15px 15px 0px 15px;
         }
    }
    p {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #393C47;
        margin-top: 22px;
        margin-bottom: 60px;
        padding-left: 26px;
        padding-right: 26px;
        @media (max-width:768px) { 
            padding-left: 15px;
            padding-right: 15px;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 35px;
        }
    }
}

.section-8 {
    padding: 0px 0px 50px 0px;
    @media (max-width:768px) {
        padding: 0px 0px 20px 0px; 
     }
}
.serts {
    margin-top: 47px;
    @media (max-width:768px) {
        margin-top: 20px;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    &__item {
        width: 24%;
        margin-right: 2%;
        &:last-child {
            margin-right: 0px;
        }
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #393C47;
        margin-top: 27px;
        margin-bottom: 0px;
        position: relative;
        &::before {
            content: '';
            width: 26px;
            height: 6px;
            background: #F75D25;
            border-radius: 10px;
            display: block;
            margin-bottom: 15px;
        }
    }
}
.sub-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 19px;
    color: #393C47;
    @media (max-width:768px) { 
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }
    @media (max-width:368px) { 
        br {
            display: none;
        }
    }
}
.section-9 {
    padding: 54px 0px;
    @media (max-width:668px) {
        padding: 20px 0px 30px 0px;
    }
    .title {
        max-width: none;
    }
    &__gift {
        background: #EAF9FF;
        border-radius: 5px;
        width: 100%;
        height: 650px;
        padding: 74px 68px;
        margin-top: -45px;
        position: relative;
        @media (max-width:768px) {
            margin-top: -14px;
            height: 350px;
            padding: 15px;
        }
        &:before {
            content: '';
            width: 100%;
            height: 0px;
            display: block;
            position: absolute;
            top: -32px;
            left: 0px;
            border-top: 2px dashed #57AEFF;
        }
    }
    &__img {
        margin-top: -50px;
        @media (max-width:768px) {
            margin: 10px -15px;
        }
    }
}

.section-10 {
    background: url(../img/section-10/bg.png) no-repeat 0% 100% #393C47;
    padding: 65px 0px;
    @media (max-width:668px) {
        padding: 30px 0px;
     }
    .title {
        color:#fff;
    }
    .container {
        position: relative;
        &:after {
            content: '';
            background: rgba(87, 174, 255, 0.4);
            filter: blur(250px);
            position: absolute;
            bottom: 122px;
            left: 350px;
            width: 209px;
            height: 209px;
            display: block;
        }
    }
}

.contacts__list {
    margin-top: 26px;
    @media (max-width:968px) {
        flex-wrap: wrap;
     }
    @media (max-width:668px) {
        display: block;
        margin-top: 21px;
     }
     .contacts__item {
        @media (max-width:968px) {
            width: 48%;
        }
        @media (max-width:668px) {
            padding-bottom: 10px;
            position: relative;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
                padding-bottom: 0px;
                &:after {
                    display: none;
                }
            }
            // &::after {
            //     content: '';
            //     background: #345BA6;
            //     width: 46px;
            //     height: 1px;
            //     left: 0px;
            //     bottom: 0px;
            //     display: block;
            //     position: absolute;
            // }
        }  
     }
    span {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
    }
    div {
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }
}
.contacts__razd {
    background: #32BEFF;
    height: 46px;
    width: 1px;
    @media (max-width:768px) {
        display: none;
    }
}
.contacts__content {
    border: 4px solid #FFFFFF;
    border-radius: 5px;
    margin-top: 80px;
    @media (max-width:968px) {
        margin-top: 40px;
     }
    @media (max-width:668px) { 
        margin-top: 30px;
        flex-wrap: wrap;
    }
}
.contacts__map {
    width: 60%;
    height: 500px;
    @media (max-width:968px) { 
        width: 50%;
    }
    @media (max-width:668px) { 
        width: 100%;
        height: 400px;
     }
}
.contacts__form {
    padding: 50px 40px;
    @media (max-width:968px) { 
        width: 50%;
        padding: 30px 20px;
    }
    @media (max-width:668px) { 
        padding: 25px 15px;
        width: 100%;
     }
    .title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 22px;
    }
    p {
        font-size: 16px;
        line-height: 20px;
        margin: 22px 0px 28px 0px;
        color:#fff;
    }
    input {
        max-width: 313px;
        background: #FFFFFF;
        border-radius: 50px;
        margin-bottom: 15px;
        padding: 0px 15px;
        height: 49px;
        border:none;
        display: block;
        width: 100%;
        font-size:16px;
    }
    .btn {
        max-width: 313px;
        width: 100%;
        font-size:18px;
        border:none;
        height: 65px;
    }
}

.footer {
    padding: 20px 0px;
    background: #222222;
    @media (max-width:468px) { 
        .container {
            justify-content: center;
            a.fiji-logo-href {
                width: 100%;
                text-align: center;
            }
            img {
                width: 70%;
                margin-top: 10px;
            }
        }
    }
    a.politic {
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: none;
        color: #FFFFFF;
        border-bottom: 1px solid;
    }
}
.fancybox-slide {
    @media (max-width:768px) {
        padding: 20px;
    }
}
.fancybox-content {
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    line-height: 130%;
    border-radius: 4px;
    p {
        font-weight: 400;
    }
    .ImPoliticWrap-Title {
        font-size: 20px;
        font-weight: bold;
        line-height:130%;
    }
}
.ImPoliticWrap {
    max-width: 700px;
    font-weight: 300;
    padding: 10px 20px;
}

.awg-popup, .awg-popup-modal {
    display: none;
    opacity: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__content{
        max-width: 760px;
        margin: 0 auto;
        width: calc(100% - 80px);
        max-width: 760px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__close{
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: -30px;

        &:before, &:after{
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: white;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        &:before{
            transform: rotate(45deg);
        }

        &:after{
            transform: rotate(-45deg);
        }
    }

    &__video{
        padding-top: 56.25%;
        position: relative;

        iframe{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
}


.second-menu-scroll::-webkit-scrollbar {
    width: 0;
  }

.second-menu {
    position: fixed;
    left: 0px;
    overflow-y: auto;
    min-width: 300px;
    top: 0px;
    color:#fff;
    background: #393C47;
    min-height: 100vh;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.5);
    z-index: 9;
    // padding-top: 80px;
    left: -100%;
    transition: all .2s;
    @media (max-width:768px) {
        width: 100%;
    }
    .logo-white {
        display: none;
        @media (max-width:768px) {
            display: block;
            margin: 11px 15px;
        }
    }
    &.open {
        left: 0px;
    }
    a {
        color:#fff;
        display: block;
    }
    li {
        display: block;
    }
    ul {
        margin: 0px;
        padding: 0px;
    }
    .second-menu-close {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        padding: 10px;
        width: 50px;
        height: 55px;
        top: 20px;
        right: 25px;
        cursor: pointer;
        z-index: 1;
        @media (max-width:768px) {
            height: 68px;
            width: 68px;
            top: 0px;
            right: 0px;
            background: #EAF9FF;
           padding: 20px;
        }
        span {
            display: block;
            position: absolute;
            width: 30px;
            height: 4px;
            border-radius: 10px;
            background-color: #fff;
            -webkit-transition-duration: .25s;
            transition-duration: .25s;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            height: 2px;
            @media (max-width:768px) {
                background-color: #F75D25;
            }
            &:after, &:before {
                content:"";
                display: block;
                position: absolute;
                width: 30px;
                height: 4px;
                background-color: #fff;
                -webkit-transition-duration: .25s;
                transition-duration: .25s;
                border-radius: 10px;
                @media (max-width:768px) {
                    background-color: #F75D25;
                }
            }
            &:before {
                top: 0;
                -webkit-transform: rotate(0);
                transform: rotate(0);
                height: 2px;
            }
            &:after {
                top: 0;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                height: 2px;
            }
        }
    }
    .second-menu-scroll {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 30px;
        scroll-behavior: smooth;
        position: relative;
        -webkit-overflow-scrolling: touch
    }
    .second-menu-lvl-1 {
        margin-top: 80px;
        @media (max-width:768px) {
            margin-top: 30px;
        }
        > li {
            > a {
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                display: block;
                padding:11px 27px;
            }
        }
    }
    .second-menu-lvl-2 {
        > li {
           
            background: #F75D25;
            > a {
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                padding:11px 27px;
            }
        }
    }
    .second-menu-lvl-3 {
        > li {
           
            background: #565B6C;
           
            > a {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                padding:11px 27px;
                border-left: 5px solid #F75D25;
            }
        }
    }
    .second-menu-lvl-4 {
        background: #393C47;
        > li {
           
            
            > a {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                padding:11px 27px;
            }
        }
    }
}